[2020-01-09 23:27] spidgorny opened #1 "Is it slow to open or it's just me?"
Great widget. Exactly what I need.
It's a little slow to start. The app freezes for 1-2 seconds before the the popup appears.
My device is OnePlus 3T.
Is it going in a loop generating all the icons every time?
Could we pre-generate an array of icons and put as a const array in dart file?

[2020-01-11 19:33] Ahmadre commented on #1
Thank you for filing this issue.

I also encountered this issue. Glad that I was not alone. Thank you also for the suggestion. Did you test it? Does it work with const? I can't test it now, but any PR's are very welcome :)

Best regards
Rebar

[2020-01-11 20:00] Ahmadre commented on #1
Ok, I am working on a solutions. Already set const, but I have to render the InkResponse async

[2020-01-11 20:22] Ahmadre commented on #1
Alright, new release is online. Just try it out and let me know :)

[2020-01-14 01:36] Ahmadre commented on #1
![](https://i.imgur.com/o3F6C57.gif)

As you can see the picker is loading directly. You have to build a release app. closing this issue due to it's loading now directly

[2020-01-14 01:37] #1 closed

[2020-01-15 12:33] spidgorny commented on #1
Thank you for a quick feedback and a fix.
Version 1.1.5 is still slow for me. Maybe it's just my device performance.

[2020-03-10 12:58] Ben-Baert opened #2 "Are other icon packs supported?"
Are other icon packs such as https://pub.dev/packages/line_awesome_icons supported? Is there an easy way to integrate these?

[2020-03-12 02:51] zgramming opened #3 "The method '+' was called on null at search Icon"
I get this error if i can't found icon after search

[code]

After i check in your file , I think you forgot to add default **noResultText** in your constructor.

### Error Line

[code]

### Your Constructor

[code]
If i added property **noResultsText** in ` FlutterIconPicker.showIconPicker(context,
        iconSize: 40, noResultsText: 'Not found my bro');` error is gone.

I hope you added default

[2020-03-20 03:24] Ahmadre commented on #2
Very good point @Ben-Baert! I was planning to do that for the picker. I will upgrade the package soon to do so :)

[2020-03-20 17:56] Ahmadre commented on #3
Very good point! Thanks I will update this. Sorry wrote it in one day and hadn't the time.

[2020-03-20 18:16] Ahmadre commented on #3
Fixed in 0.8.1: https://pub.dev/packages/flutter_iconpicker

[2020-03-20 18:16] #3 closed

[2020-03-21 06:01] Ahmadre commented on #2
Fixed in v1.0.0 (See supported IconPacks in Readme.md) 👍

[2020-03-21 06:01] #2 closed

[2020-04-30 16:04] Riyad95 opened #6 "very slow?"
hey, thanks for this!
I'd love to try it out but its very slow for me.
I've read in another issue that it was debug only, so i tried building it and running it on my phone but it is still very slow. takes 3 seconds to open the picker, even scrolling through the icons is somewhat laggy.
I'm using the picker with font awesome icon pack, and using this package to get the font awesome icons (https://p

[2020-05-03 22:51] Ahmadre commented on #6
Hi @Riyad95 👋 ,

thank you for your issue.

Actually I've found a solution for that. It's not even this packages issues, but how Flutter is handling `InkWell` or `InkResponse`.

I'll test that with a `GestureDetector` instead and let you know.

And thanks for your willing to help. Appreciate it a lot 🙏 .

Best regards.

[2020-05-03 23:15] Ahmadre commented on #6
Update: I tested it on the latest Beta: 1.17.* and here're the results (with GestureDetector):

It's fast on every tested device (physical and non-physical): Iphone11Pro (emulator), IPad latest Gen. (physical), Pixel 2XL (physical), Pixel 3 XL (emulator).

BUT: It's lagging on Flutter Web on debug and release. Another BUT: When you activate SKIA-Engine, like Flutter native already activated it on

[2020-05-03 23:24] Ahmadre commented on #6
@Riyad95 I just updated the actual version of this package (and also on pub.dev). Please test it against with the version: 1.1.3 👍

[2020-05-03 23:34] Ahmadre commented on #6
By the way: you don't need to import on extra the fonts that were used here. Have a look in the dependecies in the pubspec.yaml. It's already integrated with this package 👍

[2020-05-14 18:10] Ahmadre commented on #6
Closing this, in favor of inactivity. Tests on proper devices ran faster as earlier. If you encounter any other performance issues, please answer here.

Thanks.

[2020-05-14 18:10] #6 closed

[2020-05-23 13:04] frederikw03 opened #7 "Opening really slow"
When i click Open IconPicker it takes about 3 seconds before it opens. is it possible to remove some icons to make it open faster? i don't need all the icons. is it also possible to add icons myself as the developer?

[2020-05-29 19:14] Ahmadre commented on #7
@frederikw03 Thanks you for your issue!

Like you saw i  previous issues, it was tried to fix this, but best solutio  would be infinite scrolling. If you like you can contribute to this project. All contributions are welcome :).

Actually I'm a bit busy.

Best regards and thanks for using this package 💪🏼

[2020-06-17 17:11] leonardarnold commented on #7
Hi Rebar, thanks for the package!

I am using it for a prototype and stumbled on the same issue.
The delay is because the list is a `SingleChildScrollView` with a `Wrap` as a child. With so many items it's heavy. I could fix it by replacing it with a `GridView.builder`. The performance now feels like 1000 times better.

I didn't do a PullRequest because this breaks your adaptive layout a bit and n

[2020-06-18 19:50] Ahmadre commented on #7
@leonardarnold Thank you soo much for your work :)!! Really appreciate it!

Don't worry I got a responsive solution for a responsive GridView. I did that earlier for a customer project. I'll have a look and improve it :)

Thank you, thank you, thank you!

[2020-07-02 10:06] NiamhG commented on #7
Hey, just wondering if you had a timescale for adding in your fix @Ahmadre ? Not wanting to rush, just curious.

Love the project btw, was exactly what I needed :)

[2020-07-18 15:30] Ahmadre commented on #7
Hey guys, sorry for the long delay. I will do that now and let you know it an update was uploaded :)

[2020-07-18 16:35] Ahmadre commented on #7
Alright guys: new Update is up: [![Version](https://img.shields.io/badge/pub-v2.1.1-blue)](https://pub.dev/packages/flutter_iconpicker)

[2020-07-18 17:37] #7 closed

[2020-07-19 09:44] NiamhG commented on #7
Works beautifully, thanks again @Ahmadre !

[2020-07-19 10:01] frederik0312 commented on #7
Is it possible to get the icons real color? Or how could i do this?
Thanks i really like the update

[2020-07-19 12:02] frederikw03 opened #8 "Cant change icon after setting a default icon in code"
i have in my code saved what icon the user chooses earlier and set is as a default as seen here:
![109729005_687493292098503_8436158623486473125_n](https://user-images.githubusercontent.com/58028622/87874142-ea9c2d00-c9c7-11ea-9f8c-85d604eec4c7.jpg)

My code to auto fill the spot:
`
Widget build(BuildContext context) {

    icon = mapToIconData(new Map<String, dynamic>.from(widget.document['icon']

[2020-07-20 00:55] Ahmadre commented on #7
@frederik0312 The iconColor is reacting to Theme changes so it is also compatible with darkTheme for example.

But you can control the iconColor on your own if you like.
Have a look into the API-Reference: https://github.com/Ahmadre/FlutterIconPicker#api-reference

[2020-07-20 08:26] frederik0312 commented on #7
Thanks for the answer, but i meant more like the icons true color. Like blue Facebook, yellow snapchat , and some multicolored like Instagram?

[2020-07-25 22:15] Ahmadre commented on #8
First: make sure your Map<String, __IconData__> is looking like this:

<img width="596" alt="Bildschirmfoto 2020-07-26 um 00 13 13" src="https://user-images.githubusercontent.com/18512224/88467201-ce6f2300-ced4-11ea-9745-2d1921e00b0f.png">

Second: I need a reproducable code to help you as best as I can. Tip: use [DartPad](https://dartpad.dev/) for example and share your pad here :)👍

[2020-07-26 04:48] bipinvaylu opened #9 "Android release build failing due to some tree shake icon issue"
Thanks for this awesome library.
I am using latest version of this library, But somehow I can't able to create release apk.

Please find logs here:
[code]

Please let me know if you want any other details.

[2020-07-26 16:11] SonicRoshan commented on #9
running into the same error

[2020-07-26 16:32] SonicRoshan commented on #9
Try to build with --no-tree-shake-icons. It works for me
```flutter build apk --no-tree-shake-icons```

[2020-07-28 02:55] bipinvaylu commented on #9
Thanks @SonicRoshan, But what does this `--no-tree-shake-icons` means? Do you have any related link So i can know what is the effect of this on released build?

[2020-07-28 08:02] Ahmadre commented on #9
@bipinvaylu Thank you for your issue.

Originally this has to do with a Breaking Change in Flutter Framework for profile + release builds.

the option: --tree-shake-icons is set by default now and minimizes the apps build-size if an app uses material-design icons.

You can use --no-tree-shake-icons. For further informations see: https://github.com/flutter/flutter/issues/16311

Closing this issue f

[2020-07-28 08:03] #9 closed

[2020-07-28 15:30] frederikw03 commented on #8
1. my map does look like that.

2.  this is the code where i use it:
import 'package:brew_crew/models/user.dart';
import 'package:brew_crew/services/database.dart';
import 'package:brew_crew/shared/constants.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:flutter/material.dart';
import 'package:flutter_iconpicker/Models/IconPack.dart';
import 'package:provider/provide

[2020-08-02 13:03] frederikw03 commented on #8
Can anyone help? :) would mean the world to me because I'm stuck

[2020-08-02 15:58] Ahmadre commented on #8
At first: why are you doing this:

`@override
Widget build(BuildContext context) {
icon =
mapToIconData(new Map<String, dynamic>.from(widget.document['icon']));
_icon = Icon(icon);`

Never initialize something in the build method when you want it to be done ONCE!

Implement the initial loading of your icon here in the initState: `WidgetsBinding.instance.addPostFrameCallback((_) {...});`

If you pu

[2020-08-02 16:51] frederikw03 commented on #8
Thank you :) i fixed it by putting the code in the initState instead

[2020-08-03 03:19] Ahmadre commented on #8
Glad to hear that :) I'll close this issue. Thank you for using my package 💙💙💙

[2020-08-03 03:19] #8 closed

[2020-08-03 18:06] Ahmadre commented on #7
@frederik0312 Ah I know what you mean. Actually that would be a good question for the owners of the FontAwesome Package.

Or would you expect this to be in this package?

Let me know and maybe we can work on a practical solution :)

[2020-08-03 18:08] frederikw03 commented on #7
Honestly i would LOVE it to be in this package. It would be awesome to have it all together

________________________________
From: Rebar Ahmad <notifications@github.com>
Sent: Monday, August 3, 2020 8:06:24 PM
To: Ahmadre/FlutterIconPicker <FlutterIconPicker@noreply.github.com>
Cc: Frederik Wennerstrøm <fwen@itu.dk>; Mention <mention@noreply.github.com>
Subject: Re: [Ahmadre/FlutterIconPicker] Op

[2020-08-04 17:04] pranjal-joshi opened #10 "Box Icons getting displayed like 'X' marks"
Hello,
In my use case, `FlutterIconPicker` will help the user to pick an icon, then this icon info is saved in some class. This class will be serialized to `JSON` and will be Stored/Retrieved from `SharedPreferences` as a configuration data.
While loading from shared preference, I get the `iconCode` correct, but after using it as `Icon(IconData(iconCode))`, I get a **strange output as shown in fol

[2020-08-05 05:14] Ahmadre commented on #10
Thank you @pranjal-joshi for using my package 💙.

At first I have good news for you: You don't have to worry about Serialization :).

This package is handling and providing this for you.

Look deeper in the readme and you'll find this:

`iconDataToMap​(iconData)`

Use that method to convert you IconData object into savable json for your shared prefs.

After that, if you want to load it from shared

[2020-08-05 05:28] pranjal-joshi commented on #10
Thanks for the quick help! I'll go through the docs and will let you know :)

[2020-08-05 12:17] MasiaVittorio opened #11 "IconManager.getSelectedPack() should include the customIconPack option"
The search bar replaces the <String,IconData> map with the just material icons if the icon picker has a customIconPack, making the use of custom icon packs useless without a properly functioning search bar.

That is because IconManager.getSelectedPack returns "icons" if the IconPack enum is IconPack.custom

[2020-08-05 19:14] Ahmadre commented on #11
Very good! Thank you for the Bug-Report!

I'll solve that asap!

I'll let you know here if an update came online :).

Best regards

[2020-08-05 19:26] MasiaVittorio commented on #11
Thank you for the quick response!
I'm digging your package very much :D

[2020-08-06 13:58] pranjal-joshi commented on #10
@Ahmadre
I found that in my serialization method, I missed `fontFamily` property of iconData which was resulting as `null` while deserializing was the cause of this issue, After implementing a way to handle `fontFamily`, Now the issue is resolved!

[2020-08-06 13:58] #10 closed

[2020-08-13 19:30] Ahmadre commented on #11
Fixed: [![Version](https://img.shields.io/badge/pub-v2.1.4-blue)](https://pub.dev/packages/flutter_iconpicker) :)

[2020-08-13 19:30] #11 closed

[2020-08-30 06:44] pranjal-joshi opened #12 "[How To] Create Map<String, IconData> from a custom IconData class?"
Hello,
I want to use this [LineIcons](https://github.com/galonsos/line_icons/blob/master/lib/line_icons.dart) as a **custom icon font** in flutter icon picker.
The `showIconPicker` method accepts a `Map<String, IconData> customIconPack` argument, However, I want to use this `LineIcons` class as it is. Manually converting all of the values from this `LineIcons` class into a map will be a tedious pr

[2020-09-02 10:21] qcsltd commented on #9
Hi, can someone please tell me how i can specify the --no-tree-shake-icons in Xcode so I can build an iOS archive release for TestFlight.
Thank you.

[2020-09-07 15:10] Ahmadre commented on #12
There's no flutter batch for now. But if you like to crate a flutter batch for creating a Map<String, IconData>, I would love to see any PR's :).

But to explain you how it worked for the existing ones: It's just simple REGEX. And with simple, I really mean simple. You just have to research how to regex that for LineIcons (because not all Icon-Packages are implemented in the same way). If you do i

[2020-09-07 15:12] Ahmadre commented on #12
Important note: LineIcons is Line Awesome. You can find it here: https://ahmadre.com/#/iconpicker

It's already built in in this packages 👍

[2020-09-07 15:39] pranjal-joshi commented on #12
Yes, I have tried inbuilt Line Awesome icons.. but the `LineIcons` class offers a lot more icons than the default LineAwesome.. Is there any way to update built in LineAwesome font?

[2020-09-08 04:56] Ahmadre commented on #12
Oh perfect, then I'll update the package. That's my responsibility :).

Will notify you here for an update 👍🏼

[2020-09-18 17:16] frederikw03 opened #14 "How do i use my own iconpack?"
I tried creating a icon pack. and i want it as my 'customIconPack', but i don't understand this explanation:
    /// Provide here your custom IconPack in a [Map<String, IconData>]
    /// to show your own collection of Icons to pick from

can you give me more detail on what to do after i changed my iconPackMode to custom?
thanks

[2020-09-21 10:42] frederikw03 commented on #14
@Ahmadre Can you help me with this? Thanks

[2020-09-21 10:51] Ahmadre commented on #14
There's an example file in /example folder. Have a look there :)

[2020-09-21 11:29] frederikw03 commented on #14
thanks, i got it to work 👍

[2020-09-21 14:51] #14 closed

[2020-09-21 19:02] frederikw03 opened #15 "Remove search?"
Hey, i want to remove the searchbar, because my iconpack is so small. Is it possible?

[2020-09-25 10:09] frederikw03 commented on #15
@Ahmadre :) Is this possible?

[2020-09-25 10:24] Ahmadre commented on #15
@frederikw03 sure it's possible. You can fork it, but I can give ab parameter for that. I'll do that as soon as I've time :)

[2020-09-25 10:26] frederikw03 commented on #15
@Ahmadre thanks, ill be looking forward to it.

[2020-10-06 16:02] nstrelow opened #16 "Adobe icon not available in FontAwesome 5.15, fails compile"
https://github.com/fluttercommunity/font_awesome_flutter/pull/124

This PR removed the Adobe icon, which now fails my build, even though I am not using that icon.

I suggest fixing the version of font_awesome_flutter to `8.8.1` until you add all the new icons and remove the old ones.

Error:
[code]

[2020-10-06 16:52] merskip commented on #16
Hello,
I have the same problem and I created pull request which should fix this issue: https://github.com/Ahmadre/FlutterIconPicker/pull/17

[2020-10-07 10:38] nstrelow opened #18 "cupertino_icons has newer version 1.0.0"
Could you check for compatibility with cupertino_icons 1.0.0 @Ahmadre ? Thanks

Error
[code]

[2020-10-07 10:39] Ahmadre commented on #18
Thank you so much @nstrelow for raising this issue! I will fix that asap!

[2020-10-08 15:47] BermyToiga commented on #16
I also am having this problem. Just commented the adobe line out for now

[2020-10-16 13:20] anderson-oki commented on #16
I have the same issue. I downgrade my `font_awesome_flutter` to `8.8.1` as temporary workaround.

[2020-10-22 21:27] CiriousJoker commented on #16
[code]

This is the full error message seemingly 3 more icons missing

[2020-10-24 13:34] Ahmadre commented on #18
@nstrelow Already fixed. But I have to investigate more for line_icons also. See here: https://github.com/galonsos/line_icons/issues/12

[2020-10-24 13:36] Ahmadre commented on #12
@pranjal-joshi Update is coming and finished already, but we have to wait for this: https://github.com/galonsos/line_icons/issues/12

[2020-10-24 13:42] Ahmadre commented on #16
At first: sorry all for the delay. Had a lot of work here.

but good news: it was just a dependency issue here. FontAwesome Flutter is updating immediately and not all devs out there have the time to update the depending packages too.

I fixed the issue and will come with the next update very soon :)!

[2020-10-24 13:55] Ahmadre commented on #15
Fixed. Will come with the new update 👍
![Uploading Bildschirmfoto 2020-10-24 um 15.54.47.png…]()

[2020-10-24 13:55] Ahmadre commented on #15
Fixed, will come with the new update :)
<img width="1185" alt="Bildschirmfoto 2020-10-24 um 15 54 47" src="https://user-images.githubusercontent.com/18512224/97083591-574f4500-1611-11eb-9a09-f372127fc65d.png">

[2020-10-24 14:14] Ahmadre commented on #18
New icons:
<img width="676" alt="Bildschirmfoto 2020-10-24 um 16 14 15" src="https://user-images.githubusercontent.com/18512224/97083979-068d1b80-1614-11eb-9816-146b1681d66d.png">

[2020-10-26 11:15] Ahmadre commented on #12
@pranjal-joshi As this issue is not anymore related to the base question (which was already answered), please track the Issue on Line_Icons. It seems to be a bug there.

[2020-10-26 11:15] #12 closed

[2020-10-26 11:26] Ahmadre commented on #12
Update: LineAwesome updated it's icons to the newest as it seems :):
<img width="722" alt="Bildschirmfoto 2020-10-26 um 12 25 36" src="https://user-images.githubusercontent.com/18512224/97167014-6acfec80-1786-11eb-963b-2dd7de28a063.png">

[2020-10-26 11:45] Ahmadre commented on #15
New version is published: [![Version](https://img.shields.io/badge/pub-v2.2.1-blue)](https://pub.dev/packages/flutter_iconpicker)

[2020-10-26 11:45] #15 closed

[2020-10-26 11:46] Ahmadre commented on #18
New version available now: [![Version](https://img.shields.io/badge/pub-v2.2.1-blue)](https://pub.dev/packages/flutter_iconpicker)

[2020-10-26 11:46] #18 closed

[2020-10-26 11:47] Ahmadre commented on #16
Hey guys, I had to update fontAwesomeFlutter so "adobe" is no longer available. Maybe some license problems on flutter community side. But here's the new update:
[![Version](https://img.shields.io/badge/pub-v2.2.1-blue)](https://pub.dev/packages/flutter_iconpicker)

everything compiles now

[2020-10-26 11:47] #16 closed

[2020-10-27 14:16] Ahmadre commented on #9
Use: `flutter build ios --release --no-tree-shake-icons`

[2020-11-02 15:40] merskip opened #19 "A problem with storing icon"
Hello,

I wanted to use icons as a symbol of a category. I need to store the selected icon in a database. The simplest way is store fields: `codePoint`, `fontFamily`, `fontPackage `and `matchTextDirection`. This solution is suggested in README file and in a few Stackoverflow posts but this doesn't work. After some time the icons are different.

In REDME there is an example:
`IconData(0xe3af, fontF

[2020-11-03 07:23] merskip commented on #19
The full version of serializing and deserializing look like this:
[code]

Nice would be optimize serializing for a large number of it.

[2020-12-07 16:01] BermyToiga opened #20 "I'm having a failure when trying to build APK"
Hi, I'm getting this error when I run "flutter build apk":

This application cannot tree shake icons fonts. It has non-constant instances of IconData at the following locations:
  - file:///Users/zara/devel/tools/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_iconpicker-2.2.2/lib/Serialization/iconDataSerialization.dart:22:14

It points to line 22 of iconDataSerialization.dart.

I'm a fairly n

[2020-12-15 13:11] Ahmadre commented on #20
Duplicate of: https://github.com/Ahmadre/FlutterIconPicker/issues/9

[2020-12-15 13:11] #20 closed

[2021-05-11 16:16] Ahmadre commented on #19
hey @merskip sorry for my late response. I was very busy since last year and I have to investigate into this asap.

I see here a crucial bug, where I already got some ideas and yeah: your solution looks promising!

I'll write you here back, as soon as I finished the work on it :)

[2021-05-18 11:00] leonardarnold commented on #19
As far as I know it's only about the material design code points, they could change at any time. This is quite annoying - not sure how other packages handle code points.

[2021-05-19 23:36] Ahmadre commented on #19
@merskip @leonardarnold

just published a new version: [![Version](https://img.shields.io/badge/pub-v3.0.1-blue)](https://pub.dev/packages/flutter_iconpicker)

Thank you so much @merskip your solution is exactly what was needed :). Works like a charm.

I also added a complete example and you can test it yourself with the new example project.

[2021-05-19 23:36] #19 closed

[2021-05-20 04:00] merskip commented on #19
Thank you for fixing it!

[2021-05-20 06:30] bambinoua commented on #19
It is good to implement new functionality for icon serialization but it would be also good to notify users about breaking changes. I used method `iconDataToMap`/`mapToIconData` and after upgrage the package I got an error because you removed those ones and created news ones. Please update change log.

[2021-05-20 07:14] leonardarnold commented on #19
thank you @Ahmadre i will check it out later! : - )

[2021-05-20 07:52] Ahmadre commented on #19
Oh yeah, I just updated the README, but I will also update the Changelog and mark a big "Breaking Change" section 👍🏼

[2021-05-20 08:58] Ahmadre commented on #19
Breaking Change is now mentioned in the changelog. Thank you for the reminder here :)

[2021-05-23 18:55] lucadev83 opened #22 "Icon displayed does not match key"
The icon displayed in Dialog doesn't match with key.
Ex: key: border_bottom_outlined, icon displayed: arrow_left.
I'm using IconPack.material

![Simulator Screen Shot - iPhone 8 - 2021-05-23 at 13 52 02](https://user-images.githubusercontent.com/82050214/119272937-28f90e80-bbce-11eb-8d6a-2b752c99d6a9.png)

[2021-05-24 11:06] QuentinG3 opened #23 "serializeIcon returns wrong key"
Hi,

I am using flutter_iconpicker version 3.0.1+2.
When using the method serializeIcon using the material pack I am not getting the correct key as output.
If using **serializeIcon** and **deserializeIcon** in chain I get the same IconData. However if I only use **serializeIcon** and check the store result in data base I do not get the correct Key.

For instance:

Example (**serializeIcon**)
- Inp

[2021-05-27 18:02] Ahmadre commented on #23
This is related to constant changes from Flutter MaterialIcons. They changed the codePoints and that leads to inconvinience in other packsges.

As you already mention if you serialize and deserialze everything is fine, therefore because the Flutter Team always changed the codePoints our serialization is handling this. So don't worry if you see other keys in your db.

But I'll update the MaterialIc

[2021-05-27 18:03] Ahmadre commented on #22
Thank you so much for your issue!

I'll update the MaterialIcons in this package and that should be fixed :)

[2021-05-27 18:09] Ahmadre commented on #23
I also know where I cause issue is. I'll fix this now

[2021-05-27 18:10] Ahmadre commented on #22
I also know where I cause issue is. I'll fix this now

[2021-05-27 18:21] Ahmadre commented on #22
Updating them and accessing through Icons helped:

<img width="325" alt="Bildschirmfoto 2021-05-27 um 20 21 13" src="https://user-images.githubusercontent.com/18512224/119877268-1ada2380-bf29-11eb-84c9-3ee83cdbff57.png">

[2021-05-27 18:21] #22 closed

[2021-05-27 18:21] Ahmadre commented on #22
Update is coming

[2021-05-27 18:26] lucadev83 commented on #22
Waiting update...
Thanks a lot!

[2021-05-27 18:30] Ahmadre commented on #22
Update is live. Thanks again!

[2021-05-27 18:30] Ahmadre commented on #23
Fixed with v. 3.0.2

Please update and thanks for using my package 💙

[2021-05-27 18:30] #23 closed

[2021-06-02 22:47] zambetpentru opened #24 "Is there a way to only show baseline Icon theme?"
Hi,

I just started to implement your package and it's working very well but has duplicated icons (i.e. Outlined, Round, Sharp, etc.). Is there a way to only show the baseline ones? Without say editing the Packs\Material.dart file?

[2021-06-05 00:21] Ahmadre commented on #24
Yes: Copy the icons you want to use for your app out of the Material Pack and add your customIconPack in the same map like you see in the Material Pack.

[2021-06-05 00:24] Ahmadre commented on #24
You have to set the IconPack:  iconPackMode: IconPack.custom

and provide your Map<String, dynamic> customIconPack.

[2021-06-05 08:22] zambetpentru commented on #24
Okay thank you!

[2021-07-05 23:58] plekedev commented on #19
There is another breaking change in my case, for previously stored icons there is no pack defined and the function deserializeIcon returns null
Sample of stored icon: {codePoint: 62948, fontFamily: FontAwesomeSolid, fontPackage: font_awesome_flutter, matchTextDirection: false}

I fixed it by creating an IconData from the data if deserializeIcon returns null. I think this should be the default for

[2021-07-31 07:15] zambetpentru opened #25 "Missing icons"
Greetings,

When I upgrade to the latest master it seems that there are two icons that have been removed from the latest Flutter master?

Local/Pub/Cache/hosted/pub.dartlang.org/flutter_iconpicker-3.0.2/lib/IconPicker/Packs/Material.dart:1864:30: Error: Getter not found: 'door_back_rounded'.
  'door_back_rounded': Icons.door_back_rounded,

Local/Pub/Cache/hosted/pub.dartlang.org/flutter_iconpicker

[2021-08-10 11:18] Ahmadre commented on #25
Thanks for your hint!

Actually it's a bit tricky to update now until these changes are not in stable.

I will investigate more in this and let you know :)

[2021-08-17 11:04] SandyUndefined opened #26 ""showTooltips" is not working in custom icon picker"
Hey,
I m using your package and it's working fine just need to add labels underneath mycustom icons.
How am I  able to achieve this?

[2021-08-17 11:28] #26 closed

[2021-08-29 15:17] nstrelow commented on #25
Why not release a pre-release version? ^^

[2021-08-29 15:32] nstrelow opened #27 "Missing newest src from Github?"
Hey @Ahmadre

Not sure if I am not looking at the right place, but Material.dart on Github is different than the one inside the package.

Maybe this is missing in Github?
- Update MaterialIcons to pick through Icons rather then IconData

Was trying to fix #25, but the failing icons are not in Github yet 🙈

[2021-08-29 15:43] nstrelow commented on #27
Nevermind github search gave me old commits.
Sorry for it, everythings fine 🙈

[2021-08-29 15:43] #27 closed

[2021-09-02 16:27] Ahmadre commented on #25
Thanks @nstrelow :) new version is released

[2021-09-02 16:27] #25 closed

[2021-09-22 18:35] apps-auth opened #29 "Missing icons six_ft_apart"
In flutter 2.6.0-0.0.pre six_ft_apart icons are not available.
I tried to commit a commit to this repository but I don't have enough permission to do so so I forked to solve this problem: https://github.com/apps-auth/FlutterIconPicker/commit/4acd274dc28dac3591ec9ca6a3b6458d378da6ab

[2021-10-02 10:45] evanzhoe commented on #29
Facing the same issue too.

[2021-10-04 22:28] infinitysush commented on #29
Having the same issue

[2021-10-23 11:11] bilalsammour opened #30 "Error: Getter not found: 'tripadvisor'"
I am using `flutter_iconpicker: ^3.0.4` with Flutter `2.5.2`, I get the following error:
[code]

Here is my code:
[code]

[2021-11-03 11:05] popiosifcristian commented on #29
Any updates on this issue?

[2021-11-24 10:22] hoxuanvinh1999 commented on #29
Having the same issue

[2021-11-24 11:27] hoxuanvinh1999 commented on #29
I think you can create a pull request, I did it for you

[2021-11-25 16:13] jesusspr commented on #30
Experienced the same problem. I had to fork and fix myself

[2021-12-06 10:14] xrayian opened #34 "How to add multiple icon packs to choose from?"
I want to add all the icon packs to the widget but couldn't figure out how to do it!

[2021-12-10 12:49] jlnrrg opened #35 "Update to Flutter 2.8 breaks package"
With Flutter 2.8 the package breaks the build with the following message:

[code]

[2021-12-10 12:51] jlnrrg commented on #35
Sorry for posting here, I noticed to late, that I posted the issue in the wrong package.

[2021-12-13 17:51] #24 closed

[2021-12-13 17:52] Ahmadre commented on #34
Very good point! I'll try to add this feature asap :)

[2021-12-13 17:53] Ahmadre commented on #30
I'll fix this asap. Sorry, I hate it' that the other package managers always change their icons 😅

[2021-12-13 17:59] Ahmadre commented on #30
Merged. I'll try to publish a new version soon :)

[2021-12-13 17:59] #30 closed

[2021-12-13 18:00] Ahmadre commented on #29
@hoxuanvinh1999 Thank you for your PR. I'll merge this after the comments are removed.

[2021-12-15 10:10] Albert-Jan commented on #29
When will these changes be available on pub.dev? Currently facing compile issues. Thanks in advance!

[2021-12-26 14:17] Ahmadre commented on #29
Thanks for the reminder. I'll do it right today!

[2021-12-26 14:54] Ahmadre commented on #29
@Albert-Jan Uploaded a new version 3.0.5 :)

I tested it with latest Flutter Stable 2.8.1 and latest Dart.

Have fun!

[2021-12-26 14:54] #29 closed

[2021-12-26 15:43] Ahmadre commented on #34
@xrayian Just implemented that feature for you :) and updated new Version: 3.1.0.

Old api's where documented and marked as deprecated.

You can now use: `iconPackModes`.

CustomIconPacks are also respected and inlcuded 👍🏼

[2021-12-26 15:43] #34 closed

[2021-12-26 17:41] xrayian commented on #34
Thanks man! 👍👍

[2021-12-26 20:56] Ahmadre commented on #35
It's also fixed here by the way :3

[2021-12-29 11:12] jlnrrg commented on #34
@Ahmadre
Using `iconPackModes: [IconPack.custom],` still includes the material IconPack beside the custom provided.
Which is a bug I guess.

[2021-12-29 15:34] Ahmadre commented on #34
Oh yeah thanks it was because I tried to deprecate the old interface. I will delete iconPackMode completely.

[2021-12-29 18:23] Ahmadre commented on #34
@jlnrrg fixed and published on v. 3.1.1 :)

[2022-01-03 00:28] jlnrrg commented on #34
Sorry for questioning, but are you sure about it?
I use the version 3.1.1 and also did a `flutter clean`.

The following code is not working:
[code]

[2022-01-04 02:39] Ahmadre commented on #34
I tested it with custom iconpacks, but without the `customIconPack: Constants.icons,`. Try it without. I will remove it maybe

[2022-01-04 02:39] Ahmadre commented on #34
see also example app here, where a sample list of custom icons are provided

[2022-01-04 02:45] Ahmadre commented on #34
You're totally right.
![Bildschirmfoto 2022-01-04 um 03 44 22](https://user-images.githubusercontent.com/18512224/148002759-c3bb4e4f-86b3-4dce-bb8b-6c87652a7f06.png)

It was that line where `icons` where returned as default.

Fixed it now :3

[2022-01-04 02:50] Ahmadre commented on #34
v. 3.1.2 is uploaded. Thanks for your help :3

[2022-01-04 14:38] jlnrrg commented on #34
Thank **you** for fixing it this fast :+1:

[2022-01-09 01:14] veloso14 opened #38 "FlutterIconPicker not updating to current params"
Hello,

I am facing an issue where on one screen I pass my own customIconPack and after pushing a new screen with iconPackModes: [IconPack.fontAwesomeIcons] and **going back** to the previous I get shown all the icons and not just my custom one.
I believe this is due to the fact that the showIconPicker is static.

Congrats on the lib btw.

[2022-01-09 01:43] veloso14 commented on #38
I did manage to find a fix, on the build doing this....

![image](https://user-images.githubusercontent.com/26327315/148665954-83904628-25b5-4c8f-a279-e1399a8ac3ef.png)

[2022-01-09 01:45] veloso14 commented on #38
My thoughts are since this is static if I change from a custom icon pack to an IconPack like font awesome and back again the initState() won't be called. Which will lead to this behavior.

[2022-01-09 19:13] Ahmadre commented on #38
Thanks for your issue.

Actually it's very old the static stuff.

You can open a merge request by using provider and ChangeNotifier for this to solve, or you can wait until I've implemented it :)

But very good finding 🤝

[2022-01-10 01:20] veloso14 commented on #38
@Ahmadre ok I will try to open a PR during this week

[2022-01-15 23:41] Ahmadre commented on #38
@veloso14 Thank you for your work on the PR. I refactored a lot and put the Provider at the right place to be only initialized once.

Please check the newest changes in master branch here with:

[code]

After you approved it, I will release a new version 👍🏼

[2022-01-25 06:15] luiscarielo83 opened #40 "This application cannot tree shake icons fonts..."
`
Flutter 2.8.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 77d935af4d (6 weeks ago) • 2021-12-16 08:37:33 -0800
Engine • revision 890a5fca2e
Tools • Dart 2.15.1
`

When generating the apk I get this error:

`
This application cannot tree shake icons fonts. It has non-constant instances of IconData at the following locations:
  - file:///Users/carielo/FlutterSDK/

[2022-01-27 22:33] luiscarielo83 commented on #9
Same issue when trying to build APK. Any real solution other than --no-tree-shake-icons?

[2022-02-13 06:45] shababhsiddique opened #41 "Spacing properties do not affect"
Spacing do not affect
Following code is used to create the picker, however the main axis and cross axis spacing properties do not affect.

` IconData? icon = await FlutterIconPicker.showIconPicker(
                                    context,
                                    adaptiveDialog: false,
                                    iconSize: 25,
                                    crossAxisSpa

[2022-02-15 15:34] luiscarielo83 commented on #40
Thanks!

[2022-02-20 10:16] CripyIce opened #42 "Update icons"
After upgrading to Flutter 2.10.2, there is a new error regards to an icon being removed.
[code]

[2022-02-21 17:26] potay commented on #42
+1

[2022-02-21 21:06] nicolashasenkopf commented on #42
+1

[2022-02-22 06:32] ccfiel commented on #42
same here

[2022-02-22 07:20] corioste commented on #42
added fixed https://github.com/Ahmadre/FlutterIconPicker/pull/43

[2022-02-22 07:21] ccfiel commented on #42
@Ahmadre can you please merge the main branch. thanks!

[2022-02-22 07:54] manojeeva commented on #9
I did not use any icons in my app but still, I get this error. What could be causing this error?

[2022-02-25 14:59] #40 closed

[2022-03-02 15:22] RohanPatil1 commented on #42
Any Update on this??

[2022-03-04 11:09] ameenvga commented on #42
any update?

[2022-03-06 07:21] anderson-oki commented on #42
Maybe we should find a way to remove the dependancy of the `Packs`. They have been introducing breaking changes several times in Material and FontAwesome.

[2022-03-28 22:16] hesty98 commented on #42
When will this be published?

[2022-03-30 19:25] Apfelwurm commented on #42
am i wrong or wouldn't be the fix to just change it from 'pie_chart_outlined' to 'pie_chart_outline' due to  https://github.com/flutter/flutter/pull/96115 ? and also it would be really cool if this would get into a new version

[2022-04-01 23:44] Apfelwurm commented on #42
cause it seems @Ahmadre had no time, for all that come across this issue, you can temporary use the git provider in your pubspec like this to obtain the fixed version:
[code]
keep in mind that this is not a change you should make forever, since there will maybe be experimental changes on the master here before a future release. You could also set the ref to ```a318bbe4ac4b318549234cf7354bdcd9faf88

[2022-04-15 22:45] Ahmadre commented on #42
New Release is up guys [![Generic badge](https://img.shields.io/badge/platform-android%20|%20ios%20|%20web%20|%20desktop-blue.svg)](https://pub.dev/packages/flutter_iconpicker)

[2022-04-15 22:46] #42 closed

[2022-04-15 22:47] Ahmadre commented on #38
As this was merged and works I will close this issue.

If you have any questions or concerns, please reopen this :) thx

[2022-04-15 22:47] #38 closed

[2022-04-21 11:33] ameenvga opened #45 "This application cannot tree shake icons fonts"
When I run the following command
`flutter build apk --split-per-abi`

I get this error and fail the apk building process

`This application cannot tree shake icons fonts. It has non-constant instances of IconData at the following locations:
  - file:///C:/Users/ameen/AppData/Local/Pub/Cache/hosted/pub.dartlang.org/flutter_iconpicker-3.1.3/lib/Serialization/iconDataSerialization.dart:76:16

FAILURE

[2022-04-21 11:34] ameenvga commented on #45
Used latest version 3.1.3

[2022-04-22 04:29] ameenvga commented on #45
@Ahmadre

[2022-04-26 21:31] Ahmadre commented on #45
Duplicate of: https://github.com/Ahmadre/FlutterIconPicker/issues/40#issuecomment-1040309050

Please search for related issues. There's a lot explained why you need to add this flag because by flutter.

[2022-04-26 21:31] #45 closed

[2022-05-05 19:25] dedvalson opened #46 "Way to Exclude Packs"
Great Package.

I noticed that when building for web this package incresed the size of of my overall output by nearly 1 MByte. Is there an easy way (other than forking) to exclude the standard packs? I only need my own custom icons.

Thanks,

Don

[2022-05-05 22:57] Ahmadre commented on #46
Thank you so much for your hint!

You're totally right...I will investigate how to do that. I can't promise when, but we should tackle that :3 ❤️

[2022-05-12 13:01] ameenvga opened #47 "Build fails in Flutter 3.0"
It was working fine. Today I just updated my flutter to Flutter 3.0.
Now, when I` flutter run` this error shows and build fails.
[code]

[2022-05-13 02:25] internelp commented on #47
Same problem.

[2022-05-18 04:09] ghengx commented on #47
any updates for the fix?

[2022-05-18 10:25] ghengx commented on #47
Thanks mate

[2022-05-29 17:46] DewminaUdayashan commented on #47
For now open YOUR_PC/AppData/Local/Pub/Cache/hosted/pub.dartlang.org/flutter_iconpicker-3.1.4+1/lib/IconPicker/Packs/Material.dart file and search and comment the lines that contains,
**class_sharp, class_rounded, class_outlined** and rebuild the project.

[2022-06-28 23:38] Leomhl commented on #47
Same problem here with flutter 3.0.3

[2022-07-03 11:26] user97116 opened #50 "Icons missing, can't compile app"
flutter_iconpicker: 3.1.4+1

[code]

[2022-07-15 23:37] TomasWard1 commented on #50
Same here:
`../../.pub-cache/hosted/pub.dartlang.org/flutter_iconpicker-3.1.4+1/lib/IconPicker/Packs/Material.dart:1230:25: Error: Member not found: 'class__sharp'.
      'class__sharp': Icons.class__sharp,
                            ^^^^^^^^^^^^
    ../../.pub-cache/hosted/pub.dartlang.org/flutter_iconpicker-3.1.4+1/lib/IconPicker/Packs/Material.dart:1231:27: Error: Member not found: 'class__rou

[2022-07-15 23:38] TomasWard1 commented on #47
Same problem

[2022-07-15 23:41] TomasWard1 commented on #47
@Leomhl  can't seem to find that directory, can you point me in the right direction? I'm with a mac

[2022-07-25 10:56] ObjectiveCalendar commented on #47
this works well to fix the problem at least in local, but I don't think it will be the case in production.

[2022-08-07 23:28] gabrc52 commented on #50
[code]

Can confirm. The other package suffers from a similar issue.

[2022-08-16 16:18] razfazz commented on #47
is there a better fix for now?

[2022-08-25 14:53] jpv123 commented on #47
@Ahmadre Can you please help us with this? It should be an easy fix :)

[2022-08-28 22:41] Ahmadre commented on #50
Fixed it.

I will update Material Icons to latest stable icons.

[2022-08-28 23:03] Ahmadre commented on #50
Published new version: [![Version](https://img.shields.io/pub/v/flutter_iconpicker.svg)](https://pub.dev/packages/flutter_iconpicker)

[2022-08-28 23:03] #50 closed

[2022-08-28 23:05] Ahmadre commented on #47
It's fixed and published: [![Version](https://img.shields.io/pub/v/flutter_iconpicker.svg)](https://pub.dev/packages/flutter_iconpicker)

[2022-08-28 23:05] #47 closed

[2022-08-28 23:10] Ahmadre commented on #41
Thank you for your hint.

Fixed in Version 3.2.1.

[2022-08-28 23:10] #41 closed

[2022-10-13 22:20] TheRedPanda17 opened #51 "Issues with Deserialization After Upgrading"
First of all, thank you so much for making this package. It's a very important part of my app.

I started using this package in 2020 and am on version `2.2.3`. I am trying to upgrade dependencies, but it breaks at version 3.0.0 because of serialization. Right now, the data is stored like this in Firebase

[code]

When I deserialize that now with the default version, I receive `null` because of thi

[2022-10-13 22:24] TheRedPanda17 commented on #51
I also saw that the old codePoints changed. Is there anything in here that maps the old ones to new?

[2022-10-27 12:22] Ahmadre commented on #51
Thank you so much for your issue!

It's also for me very important, that developers can use this package in nth-years (because I use it in productions by myself).

Honestly I've built the serialization methods as "helpers" for developers not to care for the serialization itself for their related backend.

But because Flutter (and Material-Icons especially) are changing constantly their `codePoint`

[2022-10-27 13:38] TheRedPanda17 commented on #51
I have done step 1, but I am a bit confused how to do step 2. All my entries are stored via Hive on device. When I run the version with upgraded dependencies, all of the entries are mapped to null because of the formatting issue I mentioned above. Are you saying to write my own method to convert between the old format and the new? And if so, what do I do about the changed codePoints? I'm strugglin

[2022-10-27 20:19] Ahmadre commented on #51
It's not that easy 🤔

At first: which IconPacks did your users use? Material? Cupertino? Custom?

Then we have to identify which Icons (for example "camera") had which codePoint in the past 🤔

If you look into version 2.2.3, we're in minimum Flutter 1.12.*: https://github.com/Ahmadre/FlutterIconPicker/blob/db371245a8fcff5b22eb554616003bf491ffe1fb/pubspec.yaml#L10

So I've found this in flutter-rep

[2022-10-28 17:42] TheRedPanda17 commented on #51
Oh man. The problem is that users pick the icons from `material`. So potentially every icon in material might be using the old one...

[2022-11-01 16:17] Ahmadre commented on #51
Exactly! That's why I would recommend for the Flutter Team to either stick to codePoint's or provide a way of iterating and searchable icons by their name...it's an old discussion from 2019 actually :D

[2022-11-01 17:52] Ahmadre commented on #51
Added a new version and disclaimer:

https://github.com/Ahmadre/FlutterIconPicker#disclaimer-important

[2022-11-02 00:34] TheRedPanda17 commented on #51
Thanks for adding the disclaimer. I've decided to go the route of downloading the iconData maps manually. The only problem is that showIconPicker only takes on customIconPack. I have three: 1) MaterialIcons 2) outline_material_icons 3) A new custom pack. How can I get all three to display?

[2022-11-02 02:29] TheRedPanda17 commented on #51
I've solved most of the problem by just using my own `serialize` and `deserialize` and downloading the `.tff` for the `outline_material_icons`. I want to download the `.tff` for the MaterialIcons, but I can't find the right version **anywhere**. Do you know where I could find the `.tff` from before the code points changed? @Ahmadre

[2022-11-02 19:00] Ahmadre commented on #51
Oh, I've never tried that.

You could look after the history of this place: https://github.com/google/material-design-icons/tree/master/font

maybe you'll find in the history an older version.